:root {
  /* Fonts */
  --font-body: "Montserrat", sans-serif;
  --font-heading: "Fraunces", serif;

  /* Primary Colors */
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);

  /* Neutral Colors */
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
  background-color: var(--color-cream);
}

p{
  color: var(--color-grey);
}

button{
  background-color: var(--color-green-500);
  color: white;
}

button:hover {
  background-color: var(--color-green-700);
}



